@{
    ViewData["Title"] = "Register Page";
}

<h1>Register</h1>
<hr/>
<div class="text-center">
 <form  action="/home/postregister">
    <label for="id">Student Id</label><br>
    <input type="text" id="id" name="Id" value=""><br>
    
    <label for="name">Name</label><br>
    <input type="text" id="name" name="Name" value=""><br>
    
    <label for="course">Course</label><br>
    <input type="text" id="course" name="Course" value=""><br>
    
    <label for="fees">Fees</label><br>
    <input type="text" id="fees" name="Fees" value=""><br>

    <input type="submit" value="Submit">
    
   
  </form> 
</div>